/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: black;
  color: white;
  font-family: Papyrus;
}

#expandme {
  width: 68px;
  transition: 0.1s;
}

#expandme:hover {
  width: 2000000000000000000000000000000000000000000000000%;
  height: 2000000000000000000000000000000000000000000000000%;
}

.firstbox {
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 5px;
  margin: auto;
  border: 10px #ffffff solid;
  background-color: #828282;
}

.layers {
  box-shadow:
    5px 5px red,
    -10px -10px 100px orange,
    8px 8px yellow,
    -5px 5px 13px green,
    100px 25px blue;
}

.container {
  align-items: center;
  box-shadow:  200px #800869;
  width: 70%;
  max-width: 800px;
  min-height: 500px;
  margin: auto;
  border: 10px #ffffff solid;
  padding: 15px;
  background-color: #3d3d3d;
}
